<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>juego</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <h1>JUEGO</h1>
    <article>       
        <p><b>INTRODUCE LOS DATOS PARA ENTRAR EN EL JUEGO</b></p>
        <div id="formulario">
            <form action="login()" method="POST">
                <label>Nombre de usuario: </label><br><br>
                <input type="text" name="user"/><br><br>
                <label>Contraseña: </label><br><br>
                <input type="password" name="password"/><br><br>                                                                                   
                <input type="submit" value="COMPROVAR" id="enviar"/><br><br>
            </form>
        </div>
    </article>
</body>
</html>
