*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    background-color: rgba(102, 205, 171, 0.5);
}

#container, #info ul, #operacion, #operacion ul, .registro, form{
        display: flex;      
}

#container{
    width: 80%;
    margin: 0 10%;    
    flex-direction: column;    
}

#container > div, h3, h4, form{
    padding: 20px 0;
}

h1{
    padding-top: 20px;    
    align-self: flex-start;
}

#info ul{    
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;        
}

#operacion, #operacion ul {    
    justify-content: space-evenly;           
}

#operacion ul li{
    padding-right: 10px;
    font-weight: bold;
}

ul{
    list-style-type: none;
}

.registro{
    padding: 10px;    
    flex-direction: column;
}

.registro input{
    width: 250px;
}

.registro input, .registro label{
    padding: 10px;
}

#valorUsuario, #formulario input[type="number"]{
    width: 70px;
    padding: 5px;
    font-size: 1em;
}

#boton{
    font-size: 1.05em;
    padding: 0 5px;   
}

#formulario input{
    padding: 5px;
    font-size: 1em;
}

form{
    flex-direction: column;    
}

#enviar{
    width: 150px;
    padding: 5px;
}

input, button{
    border-radius: 5px;
    cursor: pointer;
}

#formulario{
    display: none;
}

@media (min-width: 1075px) { 
    .registro{        
        flex-direction: row;
    }

 }




